# ======================
# === PYTHON ===========
# ======================
__pycache__/
*.py[cod]
*$py.class

# ======================
# === ВИРТ. ОКРУЖЕНИЯ ==
# ======================
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# ======================
# === DJANGO ===========
# ======================

# База данных
db.sqlite3
db.sqlite3-journal

# Медиафайлы пользователей — храним структуру, но не контент
/media/*
!/media/.gitkeep

# Собранная статика (collectstatic)
# При желании можно хранить исходники в static_src/
# но не результат сборки
/static/*
!/static/.gitkeep

# Логи и временные файлы
*.log
*.pid
*.pot
*.pyc
*.swp
.DS_Store
Thumbs.db

# Локальные настройки
local_settings.py
.env
.envrc
config.json

# ======================
# === ТЕСТЫ / COVERAGE =
# ======================
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.cache/
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# ======================
# === СБОРКА / DIST ====
# ======================
.Python
build/
dist/
downloads/
.eggs/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
wheels/
share/python-wheels/

# ======================
# === ДОКУМЕНТАЦИЯ ====
# ======================
docs/_build/
.site

# ======================
# === ИНСТРУМЕНТЫ И IDE =
# ======================
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

# ======================
# === АНАЛИЗ И TYPE CHECK=
# ======================
.ruff_cache/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/

# ======================
# === ПРОЧЕЕ ============
# ======================
.pypirc
.pdm-python
.pdm-build/
.abstra/
.cursorignore
.cursorindexingignore
marimo/_static/
marimo/_lsp/
__marimo__/
