# ======================
# === PYTHON / DJANGO ==
# ======================

# Кэш и байткод
__pycache__/
*.py[cod]
*$py.class

# Виртуальные окружения
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# База данных
db.sqlite3
db.sqlite3-journal

# Медиа и статические файлы
media/
staticfiles/

# Логи и временные файлы
*.log
*.pid
*.pot
*.pyc
*.swp
.DS_Store
Thumbs.db

# ======================
# === СБОРКА И ДИСТРИБЬЮЦИЯ ===
# ======================
.Python
build/
dist/
downloads/
.eggs/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
wheels/
share/python-wheels/

# ======================
# === ТЕСТИРОВАНИЕ ===
# ======================
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# ======================
# === ДОКУМЕНТАЦИЯ ===
# ======================
docs/_build/
.site

# ======================
# === СРЕДА И КОНФИГ ===
# ======================
.env
.envrc
local_settings.py
config.json
.pdm-python
.pdm-build/
.pybuilder/
target/

# ======================
# === IDE / EDITORS ===
# ======================
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

# ======================
# === ИНСТРУМЕНТЫ ===
# ======================
.ruff_cache/
.pyre/
.pytype/
.mypy_cache/
.dmypy.json
dmypy.json
cython_debug/
.pypirc

# ======================
# === ПРОЧЕЕ ===
# ======================
marimo/_static/
marimo/_lsp/
__marimo__/
.cursorignore
.cursorindexingignore
.abstra/
